icecream
absl-py==2.1.0
accelerate==0.27.2
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
Brotli
certifi
cffi
chardet==5.2.0
charset-normalizer
click==8.1.7
colorama==0.4.6
cryptography
DataProperty==1.0.1
datasets==2.17.1
dill==0.3.8
distro==1.9.0
einops==0.7.0
evaluate==0.4.1
filelock
frozenlist==1.4.1
fsspec==2024.2.0
glog==0.3.1
gmpy2
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.20.3
idna 
Jinja2
joblib==1.3.2
jsonlines==4.0.0
lm-eval==0.4.1
MarkupSafe
mpmath 
multidict==6.0.5
multiprocess==0.70.16
networkx 
ninja==1.11.1.1
nltk==3.8.1
numexpr==2.9.0
numpy 
packaging==23.2
pandas==2.2.1
pathvalidate==3.2.0
peft==0.8.2
Pillow 
portalocker==2.8.2
primefac==2.0.12
protobuf==4.25.3
psutil==5.9.8
pyarrow==15.0.0
pybind11==2.11.1
pycountry==23.12.11
pycparser
pydantic==2.6.2
pydantic_core==2.16.3
pyOpenSSL 
PySocks 
pytablewriter==1.2.0
python-dateutil==2.8.2
python-gflags==3.1.2
pytz==2024.1
PyYAML 
# quiptools-cuda==0.0.0
regex==2023.12.25
requests 
responses==0.25.0
rouge-score==0.1.2
sacrebleu==2.4.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.0
sqlitedict==2.1.0
sympy
tabledata==1.3.3
tcolorpy==0.1.4
threadpoolctl==3.3.0
tokenizers==0.15.2
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tqdm==4.66.2
tqdm-multiprocess==0.0.11
transformers==4.38.1
typepy==1.3.2
typing_extensions
tzdata==2024.1
urllib3
xxhash==3.4.1
yarl==1.9.4
zstandard==0.22.0
